<!-- ======= Header ======= -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>KIM OANH GROUP</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="/assets/img/kimanh/logo.jpg" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">


    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link href="/assets/css/style.css" rel="stylesheet">

</head>

<body>
    <header id="header" class="fixed-top ">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">

                    <!-- Uncomment below if you prefer to use an image logo -->
                    <img src="https://canholegacycentral.vn/themes/1/logo.jpg" height="85"
                        style="width: 90px;border-radius: 50%; margin-right: 100px;">


                    <nav id="navbar" class="navbar order-last order-lg-0">
                        <ul>
                            <li><a class="nav-link scrollto active" href="#hero">GIỚI THIỆU TỔNG QUAN</a></li>
                            <li><a class="nav-link scrollto" href="#about">VỊ TRÍ</a></li>
                            <li><a class="nav-link scrollto" href="#duan">TIỆN ÍCH</a></li>
                            <li><a class="nav-link scrollto " href="#tuvan">MẶT BẰNG</a></li>
                            <li><a class="nav-link scrollto " href="#news">HÌNH ẢNH</a></li>
                            <li><a class="nav-link scrollto" href="#images">BẢNG GIÁ</a></li>


                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav><!-- .navbar -->

                    <a href="#contact" class="get-started-btn scrollto" style="background-color: orangered;">Liên Hệ</a>
                </div>
            </div>

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container">

        </div>
    </section>

    <main id="main">

        <!-- ======= About Us Section ======= -->


        <section id="about" class="about">
            <div class="container">
                <div class="section-title">
                    <h2 style="color:orangered; font-weight: bold"> THÔNG TIN DỰ ÁN </h2>

                </div>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.image}}" alt="" style="border-radius: 1%" />
                    </div>
                </div>
                <div class="section-title">
                    <h2 style="font-size: 17px; color: orangered; font-weight: bold; margin-bottom:  10px;">GIỚI THIỆU
                        TỔNG QUAN</h2>
                </div>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Tổng diện tích :
                    </strong> {{product.dientichtb}}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Tổng vốn đầu tư :
                    </strong> {{product.vondautu
                    }}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Mật độ xây dựng :
                    </strong> {{product.tiendoxaydung
                    }}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Quy mô :
                    </strong> {{product.quymo}}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Tổng số căn hộ :
                    </strong> {{product.tongcanho}}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Diện tích căn hộ :
                    </strong> {{product.dientichcanho}}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Chủ đầu tư :
                    </strong> {{product.chudautu}}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Phát triển dự án :
                    </strong> {{product.phattrienduan}}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Thi công xây dựng :
                    </strong> {{product.chudautu
                    }}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;"> Giám sát thi công :
                    </strong> {{product.tuvangiamsat

                    }}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Quản lý & vận hành :
                    </strong> {{product.quymo}}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;"> Địa điểm quy hoạch :
                    </strong> {{product.vitri}}</p>

                <div class="section-title">
                    <h2 style="font-size: 25px; color: orangered; font-weight: bold"> vị trí</h2>
                </div>
                <hr color="red" align="right" size="2px" style="background-color: orangered; height: 4px;">
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">{{product.tenduan}} :
                    </strong> {{product.thongtinvitri}}</p>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.anhvitri1}}" alt="" style="border-radius: 1%" />
                    </div>
                </div>


                <div class="section-title">
                    <h2 style="font-size: 25px; color: orangered; font-weight: bold"> TIỆN ÍCH</h2>
                </div>
                <hr color="red" align="right" size="2px" style="background-color: orangered; height: 4px;">
                <div class="section-title">
                    <h2 style="font-size: 25px; color: orangered; font-weight: bold; text-align: center;"> GIAO ĐIỂM KẾT
                        NỐI MỌI HUYẾT MẠCH
                    </h2>
                </div>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">
                    </strong>Sở hữu quỹ đất vàng hiếm hoi ngay trung tâm thành phố Thuận An, giao điểm của mọi kết nối
                    huyết mạch, xung quanh Legacy
                    Central là những trục đường trọng điểm của khu vực như Đại lộ Bình Dương (Quốc lộ 13), ĐT 746, ĐT
                    743B, ĐT 743,… dễ dàng
                    giao thương với TP. HCM, Đồng Nai, Bình Phước, các tỉnh khu vực Đông Nam Bộ và Tây Nguyên.

                    Trong bán kính chưa đến 1km, cư dân Legacy Prime có thể trải nghiệm hàng loạt tiện ích thương mại,
                    dịch vụ, tài chính, y
                    tế, giáo dục,… chất lượng. </p>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.anhvitri2}}" alt="" style="border-radius: 1%" />
                    </div>
                </div>


                <div class="section-title">
                    <h2
                        style="font-size: 25px; color: orangered; font-weight: bold; text-align: center; margin-top: 20px;">
                        CUỘC SỐNG ĐẲNG CẤP
                    </h2>
                </div>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">
                    </strong>Sở hữu quỹ đất vàng hiếm hoi ngay trung tâm thành phố Thuận An, giao điểm của mọi kết nối
                    huyết mạch, xung quanh Legacy
                    Central là những trục đường trọng điểm của khu vực như Đại lộ Bình Dương (Quốc lộ 13), ĐT 746, ĐT
                    743B, ĐT 743,… dễ dàng
                    giao thương với TP. HCM, Đồng Nai, Bình Phước, các tỉnh khu vực Đông Nam Bộ và Tây Nguyên.

                    Trong bán kính chưa đến 1km, cư dân Legacy Prime có thể trải nghiệm hàng loạt tiện ích thương mại,
                    dịch vụ, tài chính, y
                    tế, giáo dục,… chất lượng. </p>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.anhvitri4}}" alt="" style="border-radius: 1%" />
                    </div>
                </div>
                <div class="section-title">
                    <h2
                        style="font-size: 25px; color: orangered; font-weight: bold; text-align: center; margin-top: 20px;">
                        KHÔNG GIAN SỐNG HÒA NHẬP
                    </h2>
                </div>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">
                    </strong>
                    Hạnh phúc không chỉ là đích đến, mà là một hành trình… và Legacy Prime chính là nơi khởi đầu của một
                    hành trình hạnh
                    phúc. Nơi đây là cả một không gian sống yên bình gắn kết thiên nhiên, hoàn toàn tách biệt với ồn ào
                    phố thị bên ngoài
                    ngưỡng cửa.

                    Giúp nuôi dưỡng những giá trị nhân văn trong tâm hồn, mở ra một cuộc sống thăng hoa và đầy hứng
                    khởi. </p>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="https://lh3.googleusercontent.com/u/0/d/19nxxtAa-8BR2o8g1DMhH2sOvPJGlnkmd=w624-h468-p-k-nu-iv1"
                            alt="" style="border-radius: 1%" />
                    </div>
                </div>
                <div class="section-title">
                    <h2
                        style="font-size: 25px; color: orangered; font-weight: bold; text-align: center; margin-top: 20px;">
                        Mang tiện ích vào tổ ấm
                    </h2>
                </div>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">
                    </strong>
                    Hơn 2.000 m² tại Legacy Prime được dành để phát triển mảng xanh và cảnh quan. Toàn bộ không gian
                    giữa các toà tháp được
                    đan xen và bao phủ bởi sắc xanh từ công viên dọc theo các tuyến đi bộ, giúp cư dân hoàn toàn tách
                    biệt khỏi thành phố ồn
                    ào đầy khói bụi. </p>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="https://lh3.googleusercontent.com/u/0/d/1Y6sfk0RWCvhgu9bM1XhxRQj7cFEbIsPJ=w624-h468-p-k-nu-iv1"
                            alt="" style="border-radius: 1%" />
                    </div>
                </div>
                <div class="section-title">
                    <h2
                        style="font-size: 25px; color: orangered; font-weight: bold; text-align: center; margin-top: 20px;">
                        ĐẮM MÌNH VÀO LÀN NƯỚC XANH MÁT CỦA HỒ BƠI TRÀN BỜ HIỆN ĐẠI
                    </h2>
                </div>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">
                    </strong>
                    Hồ bơi tràn bờ hiện đại là nơi thư giãn tuyệt vời sau một ngày bộn bề công việc. Làn nước xanh mát,
                    không khí trong lành
                    sẽ đánh tan mọi muộn phiền, mệt mỏi.</p>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="https://lh3.googleusercontent.com/u/0/d/1bLSsyJGQT1s5tco1n5kQsj0IdlhcZL0m=w624-h468-p-k-nu-iv1"
                            alt="" style="border-radius: 1%" />
                    </div>
                </div>

                <div class="section-title">
                    <h2
                        style="font-size: 25px; color: orangered; font-weight: bold; text-align: center; margin-top: 20px;">
                        ĐA DẠNG HOẠT ĐỘNG TĂNG CƯỜNG THỂ CHẤT VÀ PHÁT TRIỂN TRÍ TUỆ
                    </h2>
                </div>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">
                    </strong>
                    Tại Legacy Prime cư dân có thể bắt đầu một ngày mới tràn đầy năng lượng với các hoạt động tăng cường
                    thể chất thú vị tại
                    khu thể dục thể thao, gym, công viên dưỡng sinh,…</p>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="https://lh3.googleusercontent.com/u/0/d/167xWBzatv7eprlqfRr5eKznEsnJMbfJr=w624-h468-p-k-nu-iv1"
                            alt="" style="border-radius: 1%" />
                    </div>
                </div>

                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">
                    </strong>
                    Nhà trẻ, hồ bơi, khu vui chơi dành riêng cho trẻ em đều được tích hợp đầy đủ tại Legacy Prime. Tất
                    cả nhằm hướng đến sự
                    phát triển toàn diện về trí tuệ và thể chất của những cư dân nhí.</p>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="https://kimoanhgroups.org/wp-content/uploads/2020/09/z3617294807736-ad554754e0ab45abc80ccf7f2201d9b3-1.jpg"
                            alt="" style="border-radius: 1%" />
                    </div>
                </div>


                <div class="section-title">
                    <h2
                        style="font-size: 25px; color: orangered; font-weight: bold; text-align: center; margin-top: 20px;">
                        QUẢN LÝ THÔNG MINH AN TOÀN CUỘC SỐNG
                    </h2>
                </div>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">
                    </strong>
                    Legacy Prime ứng dụng công nghệ quản lý căn hộ thông minh, đem đến cho cư dân trải nghiệm sống hiện
                    đại và an toàn. Hệ
                    thống an ninh kỹ thuật được bảo trì, bảo dưỡng thường xuyên, đảm bảo tiêu chuẩn chất lượng cao, bền
                    vững.</p>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="https://kimoanhgroups.org/wp-content/uploads/2020/09/z3617295397125-679964fa02b9560e120b875cd30b9ac0.jpg"
                            alt="" style="border-radius: 1%" />
                    </div>
                </div>

                <div class="section-title">
                    <h2 style="font-size: 25px; color: orangered; font-weight: bold; margin-top: 20px;">
                        MẶT BẰNG
                    </h2>
                </div>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="https://kimoanhgroups.org/wp-content/uploads/2020/09/z3617295554363-f4eef97d9f8951fb1372e3bcfa9313e9.jpg"
                            alt="" style="border-radius: 1%" />
                    </div>
                </div>
                <br>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="https://kimoanhgroups.org/wp-content/uploads/2020/09/picture1.jpg" alt=""
                            style="border-radius: 1%" />
                    </div>
                </div>
                <br>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="https://kimoanhgroups.org/wp-content/uploads/2020/09/mat-bang-tang-5-19.jpg" alt=""
                            style="border-radius: 1%" />
                    </div>
                </div>
                <br>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="https://kimoanhgroups.org/wp-content/uploads/2020/09/mat-bang-tang-20-24.jpg" alt=""
                            style="border-radius: 1%" />
                    </div>
                </div>
                <br>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="https://kimoanhgroups.org/wp-content/uploads/2020/09/mat-bang-tang-25-29.jpg" alt=""
                            style="border-radius: 1%" />
                    </div>
                </div>

                <div class="section-title">
                    <h2 style="font-size: 25px; color: orangered; font-weight: bold"> TIỆN ÍCH</h2>
                </div>
                <div class="section-title">
                    <h2
                        style="font-size: 25px; color: orangered; font-weight: bold; text-align: center; margin-top: 20px;">
                        PHỐI CẢNH DỰ ÁN
                    </h2>
                </div>
                <div style="align-items: center;">
                    <p><iframe src="https://view360.flyingcam-vietnam.com/Project2021/LegacyCentral-final/" width="100%"
                            style="justify-content: center;" height="400"></iframe></p>
                </div>
                <p><iframe src="https://legacycentral.vn/vtour/tour.html" width="100%" height="600"></iframe></p>
                <div class="img-desc">
                    <img src="https://lh3.googleusercontent.com/u/0/d/1WB16FqEQB2qyXRMs_VdDjoaOAi1iyhQh=w624-h468-p-k-nu-iv1"
                        alt="" style="border-radius: 1%" />
                </div>
                <br>
                <div class="img-desc">
                    <img src="https://lh3.googleusercontent.com/u/0/d/1ztjr-69Rv2qMDdhpg7jBSjl-90OEx0NH=w624-h468-p-k-nu-iv1"
                        alt="" style="border-radius: 1%" />
                </div>
                <br>
                <div class="img-desc">
                    <img src="https://kimoanhgroups.org/wp-content/uploads/2020/09/z3617294580350-058918aea4cfd2588fbc05f07d146022.jpg"
                        alt="" style="border-radius: 1%" />
                </div>
                <br>
                <div class="img-desc">
                    <img src="https://kimoanhgroups.org/wp-content/uploads/2020/09/z3617294789900-7c69c7bdeef51a7e1d13f0181d31f481.jpg"
                        alt="" style="border-radius: 1%" />
                </div>

                <div class="section-title">
                    <h2
                        style="font-size: 25px; color: orangered; font-weight: bold; text-align: center; margin-top: 20px;">
                        PHỐI CẢNH CĂN HỘ STUDIO LEGACY PRIME
                    </h2>
                </div>
                <br>
                <div class="img-desc">
                    <img src="https://kimoanhgroups.org/wp-content/uploads/2020/09/can-ho-studio.jpg" alt=""
                        style="border-radius: 1%" />
                </div>
                <div class="section-title">
                    <h2
                        style="font-size: 25px; color: orangered; font-weight: bold; text-align: center; margin-top: 20px;">
                        PHỐI CẢNH CĂN 1 PHÒNG NGỦ LEGACY PRIME

                    </h2>
                </div>
                <br>
                <div class="img-desc">
                    <img src="https://kimoanhgroups.org/wp-content/uploads/2020/09/can-ho-1-phong-ngu-42m2.jpg" alt=""
                        style="border-radius: 1%" />

                </div>
                <div class="img-desc">
                    <img src="https://kimoanhgroups.org/wp-content/uploads/2020/09/can-ho-1-phong-ngu-45-8m2.jpg" alt=""
                        style="border-radius: 1%" />

                </div>
                <div class="section-title">
                    <h2
                        style="font-size: 25px; color: orangered; font-weight: bold; text-align: center; margin-top: 20px;">
                        PHỐI CẢNH CĂN 2 PHÒNG NGỦ LEGACY PRIME

                    </h2>
                </div>
                <br>
                <div class="img-desc">
                    <img src="https://kimoanhgroups.org/wp-content/uploads/2020/09/can-ho-2-phong-ngu.jpg" alt=""
                        style="border-radius: 1%" />

                </div>
                <br>
                <div class="img-desc">
                    <img src="https://kimoanhgroups.org/wp-content/uploads/2020/09/z3541405677063-974129d9542335ee29c3fbf6304cb943.jpg"
                        alt="" style="border-radius: 1%" />

                </div>
                <br>
                <div class="img-desc">
                    <img src="https://kimoanhgroups.org/wp-content/uploads/2020/09/295493578-1248166816013162-8251639050849569597-n.jpg"
                        alt="" style="border-radius: 1%" />

                </div>
                <br>
                <div class="img-desc">
                    <img src="https://kimoanhgroups.org/wp-content/uploads/2020/09/295439697-1248166736013170-624834388531797306-n.jpg"
                        alt="" style="border-radius: 1%" />

                </div>

                <div class="section-title">
                    <h2 style="font-size: 25px; color: orangered; font-weight: bold; margin-top: 20px;">
                        BÁO GIÁ & PTTT
                    </h2>
                    <hr>
                </div>
                <div class="section-title">
                    <h2
                        style="font-size: 25px; color: orangered; font-weight: bold; text-align: center; margin-top: 20px;">
                        THỎA GIẤC MƠ AN CƯ CHỈ TỪ 166 TRIỆU/CĂN
                        LIÊN HỆ QUẢN LÝ SẢN PHẤM : 0906 333 076

                    </h2>
                </div>
                <div class="img-desc">
                    <img src="https://kimoanhgroups.org/wp-content/uploads/2020/09/z3617294580354-f3da5c6910b1aaa3db5103d8d9692319.jpg"
                        alt="" style="border-radius: 1%" />

                </div>
                <p>Cơ hội sở hữu quà tặng hấp dẫn với tổng giá trị đến 7 tỷ đồng:

                </p>
                <p>2 xe Toyota Camry 2.5Q


                </p>
                <p>6 xe Honda SH 125i ABS


                </p>
                <p>10 xe Honda Air Blade 2020


                </p>
                <p>
                    Cùng 2.000 quà tặng giá trị khác
                </p>
                <div class="img-desc">
                    <img src="https://kimoanhgroups.org/wp-content/uploads/2020/09/z3617295675657-7647c4f78768e2af0b761a9137eb06e8.jpg"
                        alt="" style="border-radius: 1%" />

                </div>

            </div>
        </section>
        <!-- End About Us Section -->
        <section id="projects" class="projects">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2 style="font-size: 17px;">Thông tin pháp lý </h2>

                </div>

                <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
                    data-portfolio-sort="original-order">



                    <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">


                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhphaply1}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh {{product.noidunganhphaply}}</p>
                                    <a href="{{product.anhphaply1}}" title="{{product.noidunganhphaply}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhphaply2}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh {{product.noidunganhphaply1}}</p>
                                    <a href="{{product.anhphaply2}}" title="{{product.noidunganhphaply1}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->


                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhphaply3}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh {{product.noidunganhphaply2}}</p>
                                    <a href="{{product.anhphaply3}}" title="{{product.noidunganhphaply2}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->
                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhphaply4}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh {{product.noidunganhphaply3}}</p>
                                    <a href="{{product.anhphaply4}}" title="{{product.noidunganhphaply3}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->
                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhphaply5}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh {{product.noidunganhphaply4}}</p>
                                    <a href="{{product.anhphaply5}}" title="{{product.noidunganhphaply4}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->
                    </div><!-- End Projects Container -->

                </div>

            </div>
        </section><!-- End Our Projects Section -->
        <section id="projects" class="projects">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2 style="font-size: 17px;">Hình ảnh dự án </h2>

                </div>

                <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
                    data-portfolio-sort="original-order">



                    <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

                        <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhlienquan1}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhlienquan1}}" title="{{product.tenduan}}"
                                        data-gallery=" portfolio-gallery-remodeling" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhlienquan2}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhlienquan2}}" title="{{product.tenduan}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->
                        <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhlienquan3}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhlienquan3}}" title="{{product.tenduan}}"
                                        data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhlienquan4}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhlienquan4}}" title="{{product.tenduan}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->
                        <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhlienquan5}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhlienquan5}}" title="{{product.tenduan}}"
                                        data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhlienquan6}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhlienquan6}}" title="{{product.tenduan}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                    </div><!-- End Projects Container -->

                </div>

            </div>
        </section><!-- End Our Projects Section -->
        <section id="projects" class="projects">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2 style="font-size: 17px;">Hình ảnh căn hộ </h2>

                </div>

                <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
                    data-portfolio-sort="original-order">



                    <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

                        <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhcanho1}}" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhcanho1}}" title="{{product.tenduan}}"
                                        data-gallery=" portfolio-gallery-remodeling" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>
                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhcanho2}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhcanho2}}" title="{{product.tenduan}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->
                        <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhcanho3}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhcanho3}}" title="{{product.tenduan}}"
                                        data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhcanho4}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhcanho4}}" title="{{product.tenduan}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->
                        <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhcanho5}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhcanho5}}" title="{{product.tenduan}}"
                                        data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhcanho6}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhcanho6}}" title="{{product.tenduan}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                    </div><!-- End Projects Container -->

                </div>

            </div>
        </section><!-- End Our Projects Section -->

        <section id="tuvan" class="cta">
            <div class="container">

                <div class="row">
                    <div class="col-lg-9 text-center text-lg-start">
                        <h3 style="margin-bottom: 50px;">Đăng ký tham quan và tư vấn</h3>
                        <form class="form-group" action="https://batdongsankimanh.herokuapp.com/sendmail" method="POST"
                            id="myform">
                            <input type="email" name="email" class="form-control" placeholder="Email của bạn"
                                style="margin-bottom: 20px; height: 60px;border-radius: 3%;">
                            <input type="name" name="name" class="form-control" placeholder="Họ Và Tên"
                                style="margin-bottom: 20px;  height: 60px;border-radius: 3%;">
                            <input type="phone" name="phone" class="form-control" placeholder="Số Điện Thoại"
                                style="margin-bottom: 20px;  height: 60px;border-radius: 3%;">
                            <div class="col-lg-3 cta-btn-container text-center">
                                <button type="submit" class="cta-btn align-middle" style="margin-top: 20px;">Gửi
                                    thông
                                    tin</button>
                            </div>

                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Cta Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                {{!-- <h3>KnightOne</h3>
                <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi
                    placeat.
                </p>
                <div class="social-links">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div> --}}
                <div class="col-md-6 hide-xs">
                    <div class="footer-contact mt-10">
                        <div class="clearfix footer_brand" style="margin-top: -80px;">
                            <img src="https://canholegacycentral.vn/themes/1/logo.jpg"
                                style="width: 150px;border-radius: 50%; margin-top: 80px;" />
                            <div class="text" style="line-height: 30px;margin-top: 10px;">
                                <span>CHỦ ĐẦU TƯ</span><br />
                                CĂN HỘ HÀNG ĐẦU VIỆT NAM
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-contact mt-10">
                        <div class="footer_info">
                            <p class=" contact-title">Thông tin liên hệ</p>
                            <p style="margin-top: -30px;">Hotline: <b><a href="tel:0906333076" class="color"
                                        style="font-size:17px;">0906 333
                                        076</a></b></p>
                            <p style="margin-top: -30px;"><b>Kim Anh Group(CN Cộng Hòa)</b></p>
                            <p style="margin-top: -30px;"> Địa chỉ: 610 Đường Cộng Hòa, Phường 13,
                                Tân
                                Bình, Thành phố Hồ Chí Minh, Việt Nam</p>
                            <p style="font-size:16px;line-height:1.7;margin-top: -30px;">Email:
                                Tranquangniem4696@gmail.com
                            </p>

                        </div>

                    </div> <!-- footer contact -->
                </div>

                <div class="mb-4">
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-pinterest"></i> </a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="copyright">
                    &copy; Copyright <strong><span style="color: orangered;">Batdongsankimanh.com.vn</span></strong>.
                    All
                    Rights
                    Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->
                    Designed by <a href="https://facebook.com/tranquangdao.info/">Trần Quang Đạo</a>
                </div>
            </div>
        </div>
        <div class="footer-address">


    </footer><!-- End Footer -->
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>
</body>

</html>