<!-- ======= Header ======= -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>KIM OANH GROUP</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="/assets/img/kimanh/logo.jpg" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">


    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link href="/assets/css/style.css" rel="stylesheet">

</head>

<body>
    <header id="header" class="fixed-top ">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">

                    <!-- Uncomment below if you prefer to use an image logo -->
                    <img src="https://canholegacycentral.vn/themes/1/logo.jpg" height="85"
                        style="width: 90px;border-radius: 50%; margin-right: 100px;">


                    <nav id="navbar" class="navbar order-last order-lg-0">
                        <ul>
                            <li><a class="nav-link scrollto active" href="#about">GIỚI THIỆU TỔNG QUAN</a></li>
                            <li><a class="nav-link scrollto" href="#vitri">VỊ TRÍ</a></li>
                            <li><a class="nav-link scrollto" href="#tienich">TIỆN ÍCH</a></li>
                            <li><a class="nav-link scrollto " href="#matbang">MẶT BẰNG</a></li>
                            <li><a class="nav-link scrollto " href="#image">HÌNH ẢNH</a></li>
                            <li><a class="nav-link scrollto" href="#gia">BẢNG GIÁ</a></li>


                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav><!-- .navbar -->

                    <a href="#contact" class="get-started-btn scrollto" style="background-color: orangered;">Liên Hệ</a>
                </div>
            </div>

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container">

        </div>
    </section>

    <main id="main">

        <!-- ======= About Us Section ======= -->


        <section id="about" class="about">
            <div class="container">
                <div class="section-title1">
                    <h2>THÔNG TIN DỰ ÁN</h2>
                    <h2><img src="/assets/img/kimanh/titlebg.png" alt="">
                    </h2>

                </div>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.anhduan}}" alt="" style="border-radius: 1%;padding-bottom: 30px;" />
                    </div>
                </div>
                <div class="section-title">
                    <h2 style="font-size: 17px; color: orangered; font-weight: bold; margin-bottom:  10px;">GIỚI THIỆU
                        TỔNG QUAN</h2>
                </div>
                <hr color="red" align="right" size="2px" style="background-color: orangered; height: 4px;">
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Tên dự án :
                    </strong> {{product.tenduan}}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Miêu tả :
                    </strong> {{product.mieuta}}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Tổng diện tích :
                    </strong> {{product.tongdientich}}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Tổng vốn đầu tư :
                    </strong> {{product.tongvondautu
                    }}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Mật độ xây dựng :
                    </strong> {{product.matdoxaydung
                    }}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Quy mô :
                    </strong> {{product.quymo}}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Tổng số căn hộ :
                    </strong> {{product.tongsocanho}}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Diện tích căn hộ :
                    </strong> {{product.dientichcanho}}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Chủ đầu tư :
                    </strong> {{product.chudautu}}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Phát triển dự án :
                    </strong> {{product.phattrienduan}}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Thi công xây dựng :
                    </strong> {{product.chudautu
                    }}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;"> Giám sát thi công :
                    </strong> {{product.giamsatthicong

                    }}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">Quản lý & vận hành :
                    </strong> {{product.quymo}}</p>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;"> Địa điểm quy hoạch :
                    </strong> {{product.diadiemquyhoach}}</p>
            </div>
        </section>
        <section id="vitri" class="about">
            <div class="container">
                <div class="section-title">
                    <h2 style="font-size: 25px; color: orangered; font-weight: bold"> vị trí</h2>
                </div>
                <hr color="red" align="right" size="2px" style="background-color: orangered; height: 4px;">
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">{{product.tenduan}} :
                    </strong> {{product.thongtinvitri}}</p>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.hinhanhvitri}}" alt="" style="border-radius: 1%" />
                    </div>
                </div>
            </div>
        </section>
        <section id="tienich" class="about">
            <div class="container">
                <div class="section-title">
                    <h2 style="font-size: 25px; color: orangered; font-weight: bold"> TIỆN ÍCH</h2>
                </div>
                <hr color="red" align="right" size="2px" style="background-color: orangered; height: 4px;">
                <div class="section-title">
                    <h2 style="font-size: 25px; color: orangered; font-weight: bold; text-align: center;"> GIAO ĐIỂM KẾT
                        {{product.tieudetienich1}}
                    </h2>
                </div>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">
                    </strong>{{product.noidungtienich1}}</p>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.hinhanhtienich1}}" alt="" style="border-radius: 1%" />
                    </div>
                </div>
                <br>
                <div class="section-title">
                    <h2 style="font-size: 25px; color: orangered; font-weight: bold; text-align: center;"> GIAO ĐIỂM KẾT
                        {{product.tieudetienich2}}
                    </h2>
                </div>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">
                    </strong>{{product.noidungtienich2}}</p>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.hinhanhtienich2}}" alt="" style="border-radius: 1%" />
                    </div>
                </div><br>
                <div class="section-title">
                    <h2 style="font-size: 25px; color: orangered; font-weight: bold; text-align: center;"> GIAO ĐIỂM KẾT
                        {{product.tieudetienich3}}
                    </h2>
                </div>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">
                    </strong>{{product.noidungtienich3}}</p>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.hinhanhtienich3}}" alt="" style="border-radius: 1%" />
                    </div>
                </div><br>
                <div class="section-title">
                    <h2 style="font-size: 25px; color: orangered; font-weight: bold; text-align: center;"> GIAO ĐIỂM KẾT
                        {{product.tieudetienich4}}
                    </h2>
                </div>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">
                    </strong>{{product.noidungtienich4}}</p>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.hinhanhtienich4}}" alt="" style="border-radius: 1%" />
                    </div>
                </div><br>
                <div class="section-title">
                    <h2 style="font-size: 25px; color: orangered; font-weight: bold; text-align: center;"> GIAO ĐIỂM KẾT
                        {{product.tieudetienich5}}
                    </h2>
                </div>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">
                    </strong>{{product.noidungtienich5}}</p>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.hinhanhtienich5}}" alt="" style="border-radius: 1%" />
                    </div>
                </div><br>
                <div class="section-title">
                    <h2 style="font-size: 25px; color: orangered; font-weight: bold; text-align: center;"> GIAO ĐIỂM KẾT
                        {{product.tieudetienich6}}
                    </h2>
                </div>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">
                    </strong>{{product.noidungtienich6}}</p>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.hinhanhtienich6}}" alt="" style="border-radius: 1%" />
                    </div>
                </div><br>
                <div class="section-title">
                    <h2 style="font-size: 25px; color: orangered; font-weight: bold; text-align: center;"> GIAO ĐIỂM KẾT
                        {{product.tieudetienich7}}
                    </h2>
                </div>
                <p style="color: #000000; font-weight: bold;"><strong style="color: orangered;">
                    </strong>{{product.noidungtienich7}}</p>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.hinhanhtienich7}}" alt="" style="border-radius: 1%" />
                    </div>
                </div>



            </div>
        </section>
        <section id="matbang" class="about">
            <div class="container">
                <div class="section-title">
                    <h2 style="font-size: 25px; color: orangered; font-weight: bold; margin-top: 20px;">
                        MẶT BẰNG
                    </h2>
                </div>
                <hr color="red" align="right" size="2px" style="background-color: orangered; height: 4px;">

                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.anhmatbang1}}" alt="" style="border-radius: 1%" />
                    </div>
                </div>
                <br>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.anhmatbang2}}" alt="" style="border-radius: 1%" />
                    </div>
                </div>
                <br>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.anhmatbang3}}" alt="" style="border-radius: 1%" />
                    </div>
                </div>
                <br>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.anhmatbang4}}" alt="" style="border-radius: 1%" />
                    </div>
                </div>
                <br>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.anhmatbang5}}" alt="" style="border-radius: 1%" />
                    </div>
                </div>
                <br>

            </div>
        </section>
        <section id="image" class="about">
            <div class="container">
                <div class="section-title">
                    <h2 style="font-size: 25px; color: orangered; font-weight: bold"> HÌNH ẢNH</h2>
                </div>
                <hr color="red" align="right" size="2px" style="background-color: orangered; height: 4px;">

                <div class="section-title">
                    <h2
                        style="font-size: 25px; color: orangered; font-weight: bold; text-align: center; margin-top: 20px;">
                        PHỐI CẢNH DỰ ÁN
                    </h2>
                </div>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.hinhanh1}}" alt="" style="border-radius: 1%" />
                    </div>
                </div><br>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.hinhanh2}}" alt="" style="border-radius: 1%" />
                    </div>
                </div><br>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.hinhanh3}}" alt="" style="border-radius: 1%" />
                    </div>
                </div><br>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.hinhanh4}}" alt="" style="border-radius: 1%" />
                    </div>
                </div><br>
                <div class="row__img-desc">
                    <div class="img-desc">
                        <img src="{{product.hinhanh5}}" alt="" style="border-radius: 1%" />
                    </div>
                </div><br>


                <div class="section-title">
                    <h2
                        style="font-size: 25px; color: orangered; font-weight: bold; text-align: center; margin-top: 20px;">
                        {{product.tieudephoicanh1}}
                    </h2>
                </div>
                <br>
                <div class="img-desc">
                    <img src="{{product.hinhanhphoicanh1}}" alt="" style="border-radius: 1%" />
                </div><br>
                <div class="img-desc">
                    <img src="{{product.hinhanh7}}" alt="" style="border-radius: 1%" />
                </div><br>
                <div class="section-title">
                    <h2
                        style="font-size: 25px; color: orangered; font-weight: bold; text-align: center; margin-top: 20px;">
                        {{product.tieudephoicanh2}}
                    </h2>
                </div>
                <br>
                <div class="img-desc">
                    <img src="{{product.hinhanhphoicanh2}}" alt="" style="border-radius: 1%" />
                </div><br>
                <div class="img-desc">
                    <img src="{{product.hinhanh6}}" alt="" style="border-radius: 1%" />
                </div><br>




            </div>
        </section>
        <section id="gia" class="about">
            <div class="container">
                <div class="section-title">
                    <h2 style="font-size: 25px; color: orangered; font-weight: bold; margin-top: 20px;">
                        BÁO GIÁ & PTTT
                    </h2>
                    <hr>
                </div>
                <div class="section-title">
                    <p
                        style="font-size: 25px; color: orangered; font-weight: bold; text-align: center; margin-top: 20px;">
                        {{product.tieudebaogia}}

                    </p>
                </div>
                <br>
                <div class="img-desc">
                    <img src="{{product.hinhanhbaogia1}}" alt="" style="border-radius: 1%" />

                </div>
                <p style="font-weight: bold; color: orangered;">{{product.tieudequatang}}

                </p>
                <p style="font-weight: bold;">{{product.noidungquatang1}}</p>
                <p style="font-weight: bold;">{{product.noidungquatang2}}</p>
                <p style="font-weight: bold;">{{product.noidungquatang3}}</p>
                <p style="font-weight: bold;">{{product.noidungquatang4}}</p>
                <div class="img-desc">
                    <img src="https://kimoanhgroups.org/wp-content/uploads/2020/09/z3617295675657-7647c4f78768e2af0b761a9137eb06e8.jpg"
                        alt="" style="border-radius: 1%" />

                </div>
            </div>
        </section>

        <!-- End About Us Section -->
        {{!-- <section id="projects" class="projects">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2 style="font-size: 17px;">Thông tin pháp lý </h2>

                </div>

                <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
                    data-portfolio-sort="original-order">



                    <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">


                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhphaply1}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh {{product.noidunganhphaply}}</p>
                                    <a href="{{product.anhphaply1}}" title="{{product.noidunganhphaply}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhphaply2}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh {{product.noidunganhphaply1}}</p>
                                    <a href="{{product.anhphaply2}}" title="{{product.noidunganhphaply1}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->


                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhphaply3}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh {{product.noidunganhphaply2}}</p>
                                    <a href="{{product.anhphaply3}}" title="{{product.noidunganhphaply2}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->
                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhphaply4}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh {{product.noidunganhphaply3}}</p>
                                    <a href="{{product.anhphaply4}}" title="{{product.noidunganhphaply3}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->
                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhphaply5}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh {{product.noidunganhphaply4}}</p>
                                    <a href="{{product.anhphaply5}}" title="{{product.noidunganhphaply4}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->
                    </div><!-- End Projects Container -->

                </div>

            </div>
        </section><!-- End Our Projects Section -->
        <section id="projects" class="projects">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2 style="font-size: 17px;">Hình ảnh dự án </h2>

                </div>

                <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
                    data-portfolio-sort="original-order">



                    <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

                        <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhlienquan1}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhlienquan1}}" title="{{product.tenduan}}"
                                        data-gallery=" portfolio-gallery-remodeling" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhlienquan2}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhlienquan2}}" title="{{product.tenduan}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->
                        <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhlienquan3}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhlienquan3}}" title="{{product.tenduan}}"
                                        data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhlienquan4}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhlienquan4}}" title="{{product.tenduan}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->
                        <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhlienquan5}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhlienquan5}}" title="{{product.tenduan}}"
                                        data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhlienquan6}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhlienquan6}}" title="{{product.tenduan}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                    </div><!-- End Projects Container -->

                </div>

            </div>
        </section><!-- End Our Projects Section -->
        <section id="projects" class="projects">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2 style="font-size: 17px;">Hình ảnh căn hộ </h2>

                </div>

                <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
                    data-portfolio-sort="original-order">



                    <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

                        <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhcanho1}}" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhcanho1}}" title="{{product.tenduan}}"
                                        data-gallery=" portfolio-gallery-remodeling" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>
                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhcanho2}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhcanho2}}" title="{{product.tenduan}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->
                        <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhcanho3}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhcanho3}}" title="{{product.tenduan}}"
                                        data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhcanho4}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhcanho4}}" title="{{product.tenduan}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->
                        <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhcanho5}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhcanho5}}" title="{{product.tenduan}}"
                                        data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
                            <div class="portfolio-content h-100">
                                <img src="{{product.anhcanho6}}" class="img-fluid" alt="">
                                <div class="portfolio-info">

                                    <p>hình ảnh dự án {{product.tenduan}}</p>
                                    <a href="{{product.anhcanho6}}" title="{{product.tenduan}}"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                    </div><!-- End Projects Container -->

                </div>

            </div>
        </section><!-- End Our Projects Section --> --}}
        <section id="testimonials" class="testimonials section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title1">
                    <h2>DỰ ÁN LIÊN QUAN</h2>
                    <h2><img src="/assets/img/kimanh/titlebg.png" alt="">
                    </h2>

                </div>


                <div class="slides-2 swiper">
                    <div class="swiper-wrapper">
                        {{#each products}}
                        <div class="swiper-slide">
                            <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                    {{!-- <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img"
                                        alt="">
                                    <h3>{{this.tenduan}}</h3>

                                    <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                            class="bi bi-star-fill"></i>
                                    </div>
                                    <p>
                                        Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor
                                        noster
                                        veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse
                                        veniam
                                        culpa fore nisi cillum quid.
                                    </p> --}}
                                    <div class="icon-box">
                                        <a href="https://batdongsanokimanh.herokuapp.com/du-an/{{this._id}}/detail"><img
                                                class="card-img-top" src="https://i.imgur.com/p1iyFGc.jpg"
                                                height="250px" <h4 style="margin-top: 5px;"><a
                                                style="color: #FF9900; font-weight: bold;" href="">{{this.tenduan}}</a>
                                            </h4></a>
                                        <div class="stars">
                                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                                                class="bi bi-star-fill"></i>
                                        </div>
                                        <p style="font-weight: bold;color: red;">GIÁ: 18 triệu/m2</p>
                                        <p><img style="width: 20px; height: 20px;" src="https://i.imgur.com/ifK7STf.png"
                                                alt="">
                                            100 - 149m2</p>

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->
                        {{/each}}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section>
        <section id="tuvan" class="cta">
            <div class="container">

                <div class="row">
                    <div class="col-lg-9 text-center text-lg-start">
                        <h3 style="margin-bottom: 50px;">Đăng ký tham quan và tư vấn</h3>
                        <form class="form-group" action="https://batdongsanokimanh.herokuapp.com/sendmail" method="POST"
                            id="myform">
                            <input type="email" name="email" class="form-control" placeholder="Email của bạn"
                                style="margin-bottom: 20px; height: 60px;border-radius: 3%;">
                            <input type="name" name="name" class="form-control" placeholder="Họ Và Tên"
                                style="margin-bottom: 20px;  height: 60px;border-radius: 3%;">
                            <input type="phone" name="phone" class="form-control" placeholder="Số Điện Thoại"
                                style="margin-bottom: 20px;  height: 60px;border-radius: 3%;">
                            <div class="col-lg-3 cta-btn-container text-center">
                                <button type="submit" class="cta-btn align-middle" style="margin-top: 20px;">Gửi
                                    thông
                                    tin</button>
                            </div>

                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Cta Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                {{!-- <h3>KnightOne</h3>
                <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi
                    placeat.
                </p>
                <div class="social-links">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div> --}}
                <div class="col-md-6 hide-xs">
                    <div class="footer-contact mt-10">
                        <div class="clearfix footer_brand" style="margin-top: -80px;">
                            <img src="https://canholegacycentral.vn/themes/1/logo.jpg"
                                style="width: 150px;border-radius: 50%; margin-top: 80px;" />
                            <div class="text" style="line-height: 30px;margin-top: 10px;">
                                <span>CHỦ ĐẦU TƯ</span><br />
                                CĂN HỘ HÀNG ĐẦU VIỆT NAM
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-contact mt-10">
                        <div class="footer_info">
                            <p class=" contact-title">Thông tin liên hệ</p>
                            <p style="margin-top: -30px;">Hotline: <b><a href="tel:0906333076" class="color"
                                        style="font-size:17px;">0906 333
                                        076</a></b></p>
                            <p style="margin-top: -30px;"><b>Kim Anh Group(CN Cộng Hòa)</b></p>
                            <p style="margin-top: -30px;"> Địa chỉ: 610 Đường Cộng Hòa, Phường 13,
                                Tân
                                Bình, Thành phố Hồ Chí Minh, Việt Nam</p>
                            <p style="font-size:16px;line-height:1.7;margin-top: -30px;">Email:
                                Tranquangniem4696@gmail.com
                            </p>

                        </div>

                    </div> <!-- footer contact -->
                </div>

                <div class="mb-4">
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-pinterest"></i> </a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="copyright">
                    &copy; Copyright <strong><span style="color: orangered;">Batdongsankimanh.com.vn</span></strong>.
                    All
                    Rights
                    Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->
                    Designed by <a href="https://facebook.com/tranquangdao.info/">Trần Quang Đạo</a>
                </div>
            </div>
        </div>
        <div class="footer-address">


    </footer><!-- End Footer -->
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>
</body>

</html>