<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>KIM OANH GROUP</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="/assets/img/kimanh/logo.jpg" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">


    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link href="/assets/css/style.css" rel="stylesheet">

</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">

                    <!-- Uncomment below if you prefer to use an image logo -->
                    <img src="https://i.imgur.com/J5dt704.jpg" height="85"
                        style="width: 145px; margin-right: 40px; left: 00px;">


                    <nav id="navbar" class="navbar order-last order-lg-0">
                        <ul>
                            <li><a class="nav-link scrollto active" href="#hero">TRANG CHỦ</a></li>
                            <li><a class="nav-link scrollto" href="#duan">DỰ ÁN</a></li>
                            <li><a class="nav-link scrollto " href="#canho">CĂN HỘ</a></li>
                            <li class="dropdown"><a href="#nhadatban"><span>NHÀ ĐẤT BÁN</span> <i
                                        class="bi bi-chevron-down dropdown-indicator"></i></a>
                                <ul>
                                    <li><a href="#">CĂN HỘ</a></li>
                                    <li><a href="#">ĐẤT NỀN</a></li>
                                    <li><a href="#">NHÀ PHỐ</a></li>
                                    <li><a href="#">BIỆT THỰ</a></li>

                                </ul>
                            </li>
                            <li><a class="nav-link scrollto" href="#video">VIDEO</a></li>
                            <li><a class="nav-link scrollto" href="#images">HÌNH ẢNH</a></li>
                            <li><a class="nav-link scrollto" href="#news">TIN TỨC</a></li>

                            </li>
                            <li><a class="nav-link scrollto" href="#contact">TUYỂN DỤNG</a></li>
                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav><!-- .navbar -->

                    <a href="#contact" class="get-started-btn scrollto" style="background-color: orangered;">Liên Hệ</a>
                </div>
            </div>

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <h1>KIM OANH GROUP</h1>

                    {{!-- <h2 style="font-size: 18px font-weight: bold;">CHUYÊN TƯ VẤN MÔI GIỚI ĐẦU TƯ ĐẤT NỀN,
                        NHÀ PHỐ, CĂN HỘ,BIỆT
                        THỰ TP.HCM
                        ,BÌNH DƯƠNG ,ĐỒNG NAI,BÀ
                        RỊA VŨNG TÀU, GIÁ RẺ NHANH SINH LỜI
                    </h2>
                    <div style="color: white; margin-bottom: 10px;"> Hotline: 0906.333.076 zalo :
                        0906.333.076 , Email :
                        Tranquangniem4696@gmail.com
                    </div> --}}
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
                </div>
            </div>
        </div>
    </section>

    <main id="main">
        <section id="" class="services">
            <div class="container">

                <div class="section-title1">
                    <h2>KIM OANH GROUP</h2>
                    <h2><img src="/assets/img/kimanh/titlebg.png" alt="">

                        <H2 style="color: #0000FF	;">
                            GIÁ TRỊ THẬT - SẢN PHẨM THẬT
                        </H2>
                        <H2 style="font-size: 17px; color: #0000FF	">Chuyên tư vấn môi giới đầu tư căn
                            hộ, đất nền Tp.HCM,
                            Đồng Nai, Bình
                            Dương, Bà Rịa - Vũng Tàu,
                            giá rẻ nhanh sinh lời cao
                        </H2>
                        <p
                            style="font-size: 17px; color: #0000FF;  text-align: center; font-weight: bold;margin-top: -25px;">
                            Hotline:
                            <strong style="color: red;">0906.333.076</strong> zalo :
                            <strong style="color: red;">0906.333.076</strong> , Email :
                            <strong style="color: red;">Tranquangniem4696@gmail.com</strong>

                        </p>
                </div>


            </div>
        </section><!-- End Services Section -->
        <!-- ======= About Us Section ======= -->


        <!-- ======= Services Section ======= -->

        <section id="" class="portfolio">
            <div class="container">

                <div class="section-title1">
                    <h2>DỰ ÁN NỔI BẬT</h2>
                    <h2><img src="/assets/img/kimanh/titlebg.png" alt="">



                </div>
                <div class="row portfolio-container">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-LEGACYCENTRAL">
                        <a href=""><img src="assets/img/portfolio/legacy.png" class="img-fluid" alt="">
                        </a>
                        <div class="portfolio-info">
                            <h4>LEGACY CENTRAL</h4>

                            <a href="assets/img/portfolio/legacy.png" data-gallery="portfolioGallery"
                                class="portfolio-lightbox preview-link" title="LEGACY CENTRAL"><i
                                    class="bx bx-plus"></i></a>
                        </div>
                    </div>
                    {{!-- <div class="col-lg-4 col-md-6 portfolio-item filter-LEGACYCENTRAL">
                        <a href=""><img src="https://i.imgur.com/eQdsWg5.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="portfolio-info">
                            <h4>CENTURY CITY – BÌNH SƠN – LONG THÀNH</h4>

                            <a href="https://i.imgur.com/eQdsWg5.jpg" data-gallery=" portfolioGallery"
                                class="portfolio-lightbox preview-link" title="CENTURY CITY – BÌNH SƠN – LONG THÀNH"><i
                                    class="bx bx-plus"></i></a>
                        </div>
                    </div> --}}
                    <div class="col-lg-4 col-md-6 portfolio-item filter-LEGACYCENTRAL">
                        <a href=""><img src="https://i.imgur.com/eQdsWg5.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="portfolio-info">
                            <h4>CENTURY CITY – BÌNH SƠN – LONG THÀNH</h4>

                            <a href="https://i.imgur.com/eQdsWg5.jpg" data-gallery=" portfolioGallery"
                                class="portfolio-lightbox preview-link" title="CENTURY CITY – BÌNH SƠN – LONG THÀNH"><i
                                    class="bx bx-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-LEGACYCENTRAL">
                        <a href=""><img src="/assets/img/kimanh/khu-do-thi-new-times-city.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="portfolio-info">
                            <h4>NEW TIMES CITY – NAM TÂN UYÊN
                            </h4>

                            <a href="/assets/img/kimanh/khu-do-thi-new-times-city.jpg" data-gallery=" portfolioGallery"
                                class="portfolio-lightbox preview-link" title="NEW TIMES CITY – NAM TÂN UYÊN"><i
                                    class="bx bx-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-LEGACYCENTRAL">
                        <a href=""><img src="https://i.imgur.com/p00eaoo.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="portfolio-info">
                            <h4>KHU ĐÔ THỊ BÀU XÉO – TRẢNG BOM
                            </h4>

                            <a href="https://i.imgur.com/p00eaoo.jpg" data-gallery=" portfolioGallery"
                                class="portfolio-lightbox preview-link" title="KHU ĐÔ THỊ BÀU XÉO – TRẢNG BOM
"><i class="bx bx-plus"></i></a>
                        </div>
                    </div>
                    {{!-- <div class="col-lg-4 col-md-6 portfolio-item filter-LEGACYCENTRAL">
                        <a href=""><img src="https://i.imgur.com/eQdsWg5.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="portfolio-info">
                            <h4>CENTURY CITY – BÌNH SƠN – LONG THÀNH</h4>

                            <a href="https://i.imgur.com/eQdsWg5.jpg" data-gallery=" portfolioGallery"
                                class="portfolio-lightbox preview-link" title="CENTURY CITY – BÌNH SƠN – LONG THÀNH"><i
                                    class="bx bx-plus"></i></a>
                        </div>
                    </div> --}}
                    <div class="col-lg-4 col-md-6 portfolio-item filter-CENTURYCITY">
                        <a href=""><img src="https://i.imgur.com/92mFN9S.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="portfolio-info">
                            <h4>KHU DÂN CƯ VÀ SIÊU THỊ TRẢNG BOM
                            </h4>

                            <a href="https://i.imgur.com/92mFN9S.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox preview-link" title="KHU DÂN CƯ VÀ SIÊU THỊ TRẢNG BOM
"><i class="bx bx-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-CENTURYCITY">
                        <a href=""><img src="https://i.imgur.com/INh6ngP.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="portfolio-info">
                            <h4>GOLDEN FUTURE CITY – BÀU BÀNG, BÌNH DƯƠNG</h4>

                            <a href="https://i.imgur.com/INh6ngP.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox preview-link" title="LEGACY CENTRAL"><i
                                    class="bx bx-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-CENTURYCITY">
                        <a href=""><img src="/assets/img/kimanh/mega-city-2-370x270.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="portfolio-info">
                            <h4>KHU ĐÔ THỊ MEGA CITY 2

                            </h4>

                            <a href="https://i.imgur.com/92mFN9S.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox preview-link" title="KHU ĐÔ THỊ MEGA CITY 2
                    "><i class="bx bx-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-CENTURYCITY">
                        <a href=""><img src="/assets/img/kimanh/tong-quan-370x270.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="portfolio-info">
                            <h4>PARADISE RIVERSIDE

                            </h4>

                            <a href="/assets/img/kimanh/tong-quan-370x270.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox preview-link" title="PARADISE RIVERSIDE

                    "><i class="bx bx-plus"></i></a>
                        </div>
                    </div>


                </div>

        </section>



        </section><!-- End Services Section -->
        <section id="duan" class="services">
            <div class="container">

                <div class="section-title1">
                    <h2>DỰ ÁN</h2>
                    <h2><img src="/assets/img/kimanh/titlebg.png" alt="">
                    </h2>

                </div>

                <div class="row">
                    {{#each products}}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <a href="https://batdongsankimoanh.herokuapp.com/du-an/{{this._id}}/detail"><img
                                    class="card-img-top" src="{{this.anhduan}}" height="200px" <h4
                                    style="margin-top: 5px;"><a style="color: #FF9900; font-weight: bold;"
                                    href="">{{this.tenduan}}</a></h4></a>
                            <p style="font-weight: bold;color: red;">GIÁ: {{this.giaban}}</p>
                            <p><img style="width: 20px; height: 20px;" src="https://i.imgur.com/ifK7STf.png" alt="">
                                {{this.dientichcanho}}</p>

                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <p class="text-end"> <a href="/all_duan" style="font-size:20px; font-weight: bold;  ">Xem thêm</a></a>
                </p>


            </div>
        </section><!-- End Services Section -->
        <section id="canho" class="services">
            <div class="container">

                <div class="section-title1">
                    <h2>CĂN HỘ</h2>
                    <h2><img src="/assets/img/kimanh/titlebg.png" alt="">
                    </h2>
                    {{!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum
                        quidem.
                        Sit sint
                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
                        Quia
                        fugiat sit in iste officiis commodi quidem hic quas.</p> --}}
                </div>

                <div class="row">
                    {{#each products}}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <a href="https://batdongsankimoanh.herokuapp.com/du-an/{{this._id}}/detail"><img
                                    class="card-img-top" src="{{this.anhduan}}" height="200px" <h4
                                    style="margin-top: 5px;"><a style="color: #FF9900; font-weight: bold;"
                                    href="">{{this.tenduan}}</a></h4></a>
                            <p style="font-weight: bold;color: red;">GIÁ: {{this.giaban}}</p>
                            <p><img style="width: 20px; height: 20px;" src="https://i.imgur.com/ifK7STf.png" alt="">
                                {{this.dientichcanho}}</p>

                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <p class="text-end"> <a href="/all_duan" style="font-size:20px; font-weight: bold;  ">Xem thêm</a></a>
                </p>
            </div>
        </section>
        <section id="" class="services">
            <div class="container">

                <div class="section-title1">
                    <h2>NHÀ ĐẤT BÁN</h2>
                    <h2><img src="/assets/img/kimanh/titlebg.png" alt="">
                    </h2>
                    {{!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum
                        quidem.
                        Sit sint
                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
                        Quia
                        fugiat sit in iste officiis commodi quidem hic quas.</p> --}}
                </div>

                <div class="row">
                    {{#each products}}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <a href="https://batdongsankimoanh.herokuapp.com/du-an/{{this._id}}/detail"><img
                                    class="card-img-top" src="{{this.anhduan}}" height="200px" <h4
                                    style="margin-top: 5px;"><a style="color: #FF9900; font-weight: bold;"
                                    href="">{{this.tenduan}}</a></h4></a>
                            <p style="font-weight: bold;color: red;">GIÁ: {{this.giaban}}</p>
                            <p><img style="width: 20px; height: 20px;" src="https://i.imgur.com/ifK7STf.png" alt="">
                                {{this.dientichcanho}}</p>

                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <p class="text-end"> <a href="/all_duan" style="font-size:20px; font-weight: bold;  ">Xem thêm</a></a>
                </p>


            </div>
        </section>
        <section id="" class="services">
            <div class="container">

                <div class="section-title1">
                    <h2>NHÀ ĐẤT CHO THUÊ</h2>
                    <h2><img src="/assets/img/kimanh/titlebg.png" alt="">
                    </h2>
                    {{!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum
                        quidem.
                        Sit sint
                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
                        Quia
                        fugiat sit in iste officiis commodi quidem hic quas.</p> --}}
                </div>

                <div class="row">
                    {{#each products}}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <a href="https://batdongsankimoanh.herokuapp.com/du-an/{{this._id}}/detail"><img
                                    class="card-img-top" src="{{this.anhduan}}" height="200px" <h4
                                    style="margin-top: 5px;"><a style="color: #FF9900; font-weight: bold;"
                                    href="">{{this.tenduan}}</a></h4></a>
                            <p style="font-weight: bold;color: red;">GIÁ: {{this.giaban}}</p>
                            <p><img style="width: 20px; height: 20px;" src="https://i.imgur.com/ifK7STf.png" alt="">
                                {{this.dientichcanho}}</p>

                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <p class="text-end"> <a href="/all_duan" style="font-size:20px; font-weight: bold;  ">Xem thêm</a></a>
                </p>


            </div>
        </section>
        <section id="video" class="services">
            <div class="container">

                <div class="section-title1">
                    <h2>VIDEO</h2>
                    <h2><img src="/assets/img/kimanh/titlebg.png" alt="">
                    </h2>

                </div>

                <div class="row">
                    {{#each video}}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <a href="https://batdongsankimoanh.herokuapp.com/video/{{this._id}}/detail"><img
                                    class="card-img-top" src="{{this.image}}" height="200px" <h4
                                    style="margin-top: 5px;"><a style="color: red; font-weight: bold;"
                                    href="">{{this.tieude}}</a>
                                </h4></a>
                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <p class="text-end"> <a href="/all_video" style="font-size:20px; font-weight: bold;  ">Xem thêm</a></a>
                </p>


            </div>
        </section>
        <section id="news" class="services">
            <div class="container">

                <div class="section-title1">
                    <h2>TIN TỨC</h2>
                    <h2><img src="/assets/img/kimanh/titlebg.png" alt="">
                    </h2>
                    {{!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum
                        quidem.
                        Sit sint
                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
                        Quia
                        fugiat sit in iste officiis commodi quidem hic quas.</p> --}}
                </div>

                <div class="row">
                    {{#each products}}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <a href="https://batdongsankimoanh.herokuapp.com/du-an/{{this._id}}/detail"><img
                                    class="card-img-top" src="{{this.anhduan}}" height="200px" <h4
                                    style="margin-top: 5px;"><a style="color: #FF9900; font-weight: bold;"
                                    href="">{{this.tenduan}}</a></h4></a>
                            <p style="font-weight: bold;color: red;">GIÁ: {{this.giaban}}</p>
                            <p><img style="width: 20px; height: 20px;" src="https://i.imgur.com/ifK7STf.png" alt="">
                                {{this.dientichcanho}}</p>

                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <p class="text-end"> <a href="/all_duan" style="font-size:20px; font-weight: bold;  ">Xem thêm</a></a>
                </p>



            </div>
        </section>
        <section id="tuvan" class="cta">
            <div class="container">

                <div class="row">
                    <div class="col-lg-9 text-center text-lg-start">
                        <h3 style="margin-bottom: 50px;">Đăng ký tham quan và tư vấn</h3>
                        <form class="form-group" action="https://batdongsankimoanh.herokuapp.com/sendmail" method="POST"
                            id="myform">
                            <input type="email" name="email" class="form-control" placeholder="Email của bạn"
                                style="margin-bottom: 20px; height: 60px;border-radius: 3%;">
                            <input type="name" name="name" class="form-control" placeholder="Họ Và Tên"
                                style="margin-bottom: 20px;  height: 60px;border-radius: 3%;">
                            <input type="phone" name="phone" class="form-control" placeholder="Số Điện Thoại"
                                style="margin-bottom: 20px;  height: 60px;border-radius: 3%;">
                            <div class="col-lg-3 cta-btn-container text-center">
                                <button type="submit" class="cta-btn align-middle" style="margin-top: 20px;">Gửi thông
                                    tin</button>
                            </div>

                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Cta Section -->
        <!-- End Services Section -->
        <!-- ======= Features Section ======= -->
        <section id="features" class="features">
            <div class="container">
                <div class="section-title">
                    <h2>Về chúng tôi</h2>

                </div>
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <div class="icon-box mt-5 mt-lg-0">
                            <i class="bx bx-alarm"></i>
                            <h4>Tốc độ</h4>
                            <p>Xử lý nhanh chóng các hợp đồng..</p>
                        </div>
                        <div class="icon-box mt-5">
                            <i class="bx bx-receipt"></i>
                            <h4>Tin tức</h4>
                            <p>Cập nhật nhanh chóng giá cả thị trường 1 cách nhanh chóng</p>
                        </div>
                        <div class="icon-box mt-5">
                            <i class="bx bx-angry"></i>
                            <h4>Thái độ</h4>
                            <p>Chúng tôi đề cao thái độ nhân viên đối với khách hàng.Nên nhân viên bên chúng tôi thân
                                thiện và hòa đồng với khách hàng !</p>
                        </div>
                        <div class="icon-box mt-5">
                            <i class="bx bx-shield"></i>
                            <h4>Bảo mật</h4>
                            <p>Bảo mật thông tin khách hàng </p>
                        </div>

                    </div>
                    <div class="image col-lg-5 order-1 order-lg-2"
                        style='background-image: url("/assets/img/kimanh/logo.jpg");'>
                    </div>
                </div>

            </div>
        </section><!-- End Features Section -->

        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients">
            <div class="container">
                <div class="section-title">
                    <h2>Đối tác</h2>

                </div>
                <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

                    <div class="col-lg-4 col-md-6 col-xs-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/doitac.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/doitac2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/doitac3.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/doitac4.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/doitac5.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/doitac6.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/doitac7.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/doitac8.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/doitac9.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/doitac10.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/doitac11.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-6">
                        <div class="client-logo">
                            <img src="assets/img/clients/doitac12.jpg" class="img-fluid" alt="">
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Clients Section -->

        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
            <div class="container">

                <div class="text-center title">
                    <h3>Thống kê</h3>
                    <p>Tổng số KIM ANH GROUP có được được tính tới hiện tại</p>
                </div>

                <div class="row counters position-relative">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Dự án </p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Đất nền</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>căn hộ</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p>Chi nhánh</p>
                    </div>

                </div>

            </div>
        </section><!-- End Counts Section -->

        <!-- ======= Portfolio Section ======= -->
        {{!-- <section id="images" class="portfolio">
            <div class="container">

                <div class="section-title">
                    <h2>Hình ảnh</h2>
                    <p>Hình ảnh minh họa một số dự án nổi bật.</p>
                </div>

                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">Tất cả</li>
                            <li data-filter=".filter-LEGACYCENTRAL">LEGACY CENTRAL</li>
                            <li data-filter=".filter-CENTURYCITY">CENTURY-CITY</li>
                            <li data-filter=".filter-web">ROYAL-TOWN</li>
                            <li data-filter=".filter-app">MEGA-CITY</li>
                            <li data-filter=".filter-card">EASTGATE</li>
                            <li data-filter=".filter-web">PARADISE-RIVERSID</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-LEGACYCENTRAL">
                        <img src="assets/img/portfolio/legacy.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>LEGACY CENTRAL</h4>

                            <a href="assets/img/portfolio/legacy.png" data-gallery="portfolioGallery"
                                class="portfolio-lightbox preview-link" title="LEGACY CENTRAL"><i
                                    class="bx bx-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-LEGACYCENTRAL">
                        <img src="assets/img/portfolio/legacy2.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>LEGACY CENTRAL</h4>

                            <a href="assets/img/portfolio/legacy2.png" data-gallery="portfolioGallery"
                                class="portfolio-lightbox preview-link" title="LEGACY CENTRAL"><i
                                    class="bx bx-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-CENTURYCITY">
                        <img src="assets/img/portfolio/img1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>CENTURY-CITY</h4>

                            <a href="assets/img/portfolio/img1.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox preview-link" title="LEGACY CENTRAL"><i
                                    class="bx bx-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-CENTURYCITY">
                        <img src="assets/img/portfolio/img2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>CENTURY-CITY</h4>

                            <a href="assets/img/portfolio/img2.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox preview-link" title="LEGACY CENTRAL"><i
                                    class="bx bx-plus"></i></a>
                        </div>
                    </div>


                </div>
        </section><!-- End Portfolio Section --> --}}
        <section id="images" class="projects">
            <div class="section-title1">
                <h2>HÌNH ẢNH </h2>
                <H2 style="font-size: 14px;">GỒM ẢNH NỔI BẬT CỦA DỰ ÁN BÊN KIM OANH GROUP</H2>
                <h2><img src="/assets/img/kimanh/titlebg.png" alt="">
                </h2>
                {{!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum
                    quidem.
                    Sit sint
                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
                    Quia
                    fugiat sit in iste officiis commodi quidem hic quas.</p> --}}
            </div>
            <div class="container" data-aos="fade-up">

                <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
                    data-portfolio-sort="original-order">



                    <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

                        <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                            <div class="portfolio-content h-100">
                                <img src="assets/img/portfolio/legacy.png" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>LEGACY CENTRAL</h4>

                                    <a href="assets/img/portfolio/legacy.png" title="LEGACY CENTRAL"
                                        data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                            <div class="portfolio-content h-100">
                                <img src="assets/img/portfolio/legacy.png" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>LEGACY CENTRAL</h4>

                                    <a href="assets/img/portfolio/legacy.png" title="LEGACY CENTRAL"
                                        data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                            <div class="portfolio-content h-100">
                                <img src="assets/img/portfolio/legacy.png" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>LEGACY CENTRAL</h4>

                                    <a href="assets/img/portfolio/legacy.png" title="LEGACY CENTRAL"
                                        data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                            <div class="portfolio-content h-100">
                                <img src="assets/img/portfolio/legacy.png" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>LEGACY CENTRAL</h4>

                                    <a href="assets/img/portfolio/legacy.png" title="LEGACY CENTRAL"
                                        data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                            <div class="portfolio-content h-100">
                                <img src="assets/img/portfolio/legacy.png" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>LEGACY CENTRAL</h4>

                                    <a href="assets/img/portfolio/legacy.png" title="LEGACY CENTRAL"
                                        data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
                            <div class="portfolio-content h-100">
                                <img src="assets/img/portfolio/legacy.png" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>LEGACY CENTRAL</h4>

                                    <a href="assets/img/portfolio/legacy.png" title="LEGACY CENTRAL"
                                        data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>

                                </div>
                            </div>
                        </div>

                    </div><!-- End Projects Item -->

                </div><!-- End Projects Container -->

            </div>

            </div>
        </section>
        <!-- ======= Pricing Section ======= -->

        <!-- ======= Faq Section ======= -->
        <section id="faq" class="faq">
            <div class="container-fluid">

                <div class="row">

                    <div
                        class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                        <div class="content">
                            <h3><strong style="color: orangered;">Hỏi Đáp</strong> </h3>

                        </div>

                        <div class="accordion-list">
                            <ul>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1">Làm
                                        thế
                                        nào để liên hệ tham quan dự án? <i class="bx bx-chevron-down icon-show"></i><i
                                            class="bx bx-chevron-up icon-close"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <p>
                                            Bạn vui lòng nhập thông tin vào biểu mẫu "liên hệ " để có thể đăng ký trực
                                            tiếp
                                            tham quan hoặc hotline: 090633076 !
                                        </p>
                                    </div>
                                </li>


                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2"
                                        class="collapsed">Kim
                                        Anh Group còn tuyển dụng nhân sự hay không ? <i
                                            class="bx bx-chevron-down icon-show"></i><i
                                            class="bx bx-chevron-up icon-close"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            Chào bạn ! Kim Anh Group ở mọi chi nhánh đang bắt đầu tuyển nhân sự số lượng
                                            lớn
                                            ạ!
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3"
                                        class="collapsed">Kim
                                        Anh group tuyển nhận sự ra sao với phúc lơi ? <i
                                            class="bx bx-chevron-down icon-show"></i><i
                                            class="bx bx-chevron-up icon-close"></i></a>
                                    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            🎀🎀 KIM OANH GROUP - TUYỂN DỤNG NHÂN VIÊN BẤT ĐỘNG SẢN - CN QUẬN TÂN BÌNH
                                            🌿🌿 PHỎNG VẤN ĐẠT - ĐI LÀM NGAY - TẠI QUẬN TÂN BÌNH 🌿🌿
                                            ❎ Tuyển ngay 10 Chuyên viên BĐS đi làm ngay ❎
                                            ▪️ Lương cơ bản từ 6,5 triệu đến 11,5 triệu/ tháng
                                            ▪️ Phụ Cấp Marketing từ 1-3 triệu/ dự án
                                            ▪️ Hoa hồng: từ 40.000.000đ đến 120.000.000/sản phẩm
                                            ▪️ Nơi làm việc: Cộng Hoà, P13, Quận Tân Bình, Hồ Chí Minh
                                            ➖➖➖➖➖➖➖➖
                                            🔷 CÔNG TY CỔ PHẦN TẬP ĐOÀN ĐỊA ỐC KIM OANH LÀ CHỦ ĐẦU TƯ vừa là phân phối
                                            các
                                            dự án BĐS Đất Nền sổ đỏ, Căn hộ, tại khu
                                            vực Bình Dương, Đồng Nai, Hồ Chí Minh. Từ đây tới cuối năm sẽ có hơn 8000
                                            sản
                                            phẩm nên cần tìm các "SIÊU CHIẾN BINH -
                                            CHIẾN ĐẤU HẾT MÌNH - ĐAM MÊ KIẾM TIỀN "
                                            ➖➖➖➖➖➖➖➖
                                            🗂🗂 YÊU CẦU - PHÚC LỢI CÔNG TY
                                            🔸 Có kinh nghiệm BĐS là một lợi thế (Không có kinh nghiệm sẽ được đào tạo)
                                            🔸 Năng động - ham học hỏi - hết mình với công việc
                                            🔸 Du lịch, teambuiding trong nước và ngoài nước vài lần/năm và các hoạt
                                            động
                                            văn nghệ, các hoạt động thể thao...
                                            🔸 Được đào tạo hoàn toàn miễn phí từ cơ bản đến nâng cao chỉ có tại Tập
                                            Đoàn
                                            Kim Oanh Group.
                                            ➖➖➖➖➖➖➖➖
                                            🔹 THƯỞNG NÓNG TỪ 10 TRIỆU - 50 TRIỆU, Thưởng theo quý, năm, thưởng hiệu quả
                                            kinh doanh hàng tháng.
                                            🔹 THƯỞNG TẾT, thưởng lễ , sinh nhật, ........
                                            ️️🔹 Cơ hội thăng tiến lên cấp cao hơn từ 06 tháng làm việc trở lên.
                                            🌈 Hỗ Trợ những kiến thức: Nắm bắt tâm lý khách hàng, thuyết phục khách,
                                            chăm
                                            khách, Tìm kiếm khách,...
                                            ➖➖➖➖➖➖➖➖
                                            ⭕ SỐ LƯỢNG TUYỂN DỤNG CÓ HẠN - CÁC BẠN KHÔNG CÓ CƠ HỘI CHẦN CHỪ SUY NGHĨ NỮA
                                            ⭕ CÁC BẠN HÃY NHẤC MÁY LÊN GỌI 0938 349 689 - ANH TRỌNG ĐỂ ĐƯỢC PHỎNG VẤN
                                            ONLINE
                                            HOẶC ĐẶT LỊCH PHỎNG VẤN TRỰC TIẾP NHÉ
                                        </p>
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End Faq Section -->
        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">
                            <h3>Are you sure?</h3>
                            <div class="form-group modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" onclick="onDelete()" class="btn btn-primary">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Liên Hệ</h2>

                </div>
            </div>

            <div>
                {{!-- <iframe style="border:0; width: 100%; height: 350px;"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                    frameborder="0" allowfullscreen></iframe> --}}
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.085136866565!2d106.63536131411665!3d10.804791261625637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752964ca7e9f97%3A0x96c9116804d50a83!2zS2ltIE9hbmggR3JvdXAg4oCTIENoaSBOaMOhbmggQ-G7mW5nIEjDsmE!5e0!3m2!1sen!2s!4v1659589922659!5m2!1sen!2s"
                    width="100%" height="350px" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="container">

                <div class="row mt-5">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="ri-map-pin-line"></i>
                                <h4>Địa chỉ chi nhánh Cộng hòa</h4>
                                <p>Địa chỉ :610 Đường Cộng Hòa, Phường 13, Tân Bình, Thành phố Hồ Chí Minh, Việt Nam</p>
                            </div>

                            <div class="email">
                                <i class="ri-mail-line"></i>
                                <h4>Email</h4>
                                <p>Tranquangniem4696@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="ri-phone-line"></i>
                                <h4>Call:</h4>
                                <p>+84 0906 333 076</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form class="form-group" action="https://batdongsankimoanh.herokuapp.com/sendmail" method="POST"
                            id="myform">
                            <input type="email" name="email" class="form-control" placeholder="Email của bạn"
                                style="margin-bottom: 20px; height: 60px;border-radius: 3%;">
                            <input type="name" name="name" class="form-control" placeholder="Họ Và Tên"
                                style="margin-bottom: 20px;  height: 60px;border-radius: 3%;">
                            <input type="phone" name="phone" class="form-control" placeholder="Số Điện Thoại"
                                style="margin-bottom: 20px;  height: 60px;border-radius: 3%;">
                            <div class="col-lg-3 cta-btn-container text-center">
                                <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Gửi thông
                                    tin</button>
                            </div>
                        </form>
                    </div>

                    <script>
                        document.getElementById('myform').addEventListener('submit', function () {
                            alert('Cảm ơn đã đăng ký, vui lòng chờ vài giây để chúng tôi xử lý nhận thông tin của bạn');
                        });
                    </script>
                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                {{!-- <h3>KnightOne</h3>
                <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi
                    placeat.
                </p>
                <div class="social-links">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div> --}}
                <div class="col-md-6 hide-xs">
                    <div class="footer-contact mt-10">
                        <div class="clearfix footer_brand" style="margin-top: -80px;">
                            <img src="https://canholegacycentral.vn/themes/1/logo.jpg"
                                style="width: 150px;border-radius: 50%; margin-top: 80px;" />
                            <div class="text" style="line-height: 30px;margin-top: 10px;">
                                <span>CHỦ ĐẦU TƯ</span><br />
                                CĂN HỘ HÀNG ĐẦU VIỆT NAM
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-contact mt-10">
                        <div class="footer_info">
                            <p class=" contact-title">Thông tin liên hệ</p>
                            <p style="margin-top: -30px;">Hotline: <b><a href="tel:0906333076" class="color"
                                        style="font-size:17px;">0906 333
                                        076</a></b></p>
                            <p style="margin-top: -30px;"><b>Kim Oanh Group(CN Cộng Hòa)</b></p>
                            <p style="margin-top: -30px;"> Địa chỉ: 610 Đường Cộng Hòa, Phường 13,
                                Tân
                                Bình, Thành phố Hồ Chí Minh, Việt Nam</p>
                            <p style="font-size:16px;line-height:1.7;margin-top: -30px;">Email:
                                Tranquangniem4696@gmail.com
                            </p>

                        </div>

                    </div> <!-- footer contact -->
                </div>

                <div class="mb-4">
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-pinterest"></i> </a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="copyright">
                    &copy; Copyright <strong><span style="color: orangered;">Batdongsankimanh.com.vn</span></strong>.
                    All
                    Rights
                    Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->
                    Designed by <a href="https://facebook.com/tranquangdao.info/">Trần Quang Đạo</a>
                </div>
            </div>
        </div>

        <div class="footer-address">


    </footer><!-- End Footer -->
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>
    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "104183341651157");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v14.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>

</html>